h1 Heading 1
p Simple Paragraph
	span Some content

img(src='picture.jpg', title='Picture')

//- silent comments

// normal comment

doctype html
html(lang='en')
	include head
	body
		h1 Hello World
		.box.radius#warning
			p A big note
			block more
				h2 More content
		.main
			p Main content
		a.button.success#click


